*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{  
    background-color: #002233;

}
header{
    padding: 30px 15px;
    background-color:  #002233;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav h1{
    font-size: 1.8em;
    
    color: black
}
.images{
    display: flex;
    padding-bottom: 20px;
}

nav ul li{
    list-style: none;
}
.phone{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 10px;

}

.phone a{
    /* border: 2px solid rgb(92, 141, 92); */
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    
}
.container{
    display: grid;
    gap: 200px;
}
.con{
    overflow-x: hidden;
    display: flex;
    /* border: 3px solid red; */
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    /* text-align: center; */
    text-align: center;
    color: white;
    gap: 30px;
    /* border: 2px solid red; */
}

#image-wave{
    background-image: url(/images/wave-haikei2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#blob{
    background-image: url(/images/blob-haikei.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cont{
    display: none;
}
.con h2{
    font-size: 2.1em;
    margin-bottom: 20px;
    text-align: center;
}

.con p{

}
.con button{
    padding: 10px 40px;
    font-size: 1.3em;
    border-radius: 30px;
    color: white;
    font-weight: medium;
    background-color: lightseagreen;
}
.learn-more{
    position: relative;
    display: inline;
    /* border: 1px solid yellow; */
    text-decoration: none;
    margin-left: 20px;
    /* padding-right: 150px; */
    align-self: flex-start;
    font-size: 1.3em;
    color: rgb(93, 235, 228);
    font-weight: bold;
}
.learn-more span {
    color: black;
    border: transparent ;
    padding: 4px;
    border-radius: 50%;
    background-color: lightseagreen;
}

.learn-more::after{
    content: "";
    position: absolute;
    bottom: -20px;
    background-color: aquamarine;
    width: 100%;
    height: 5px;
    left: 0;
}
.comment{
    /* border: 2px solid yellow; */
    padding: 60px 70px;
}

.back{
    padding: 10px 20px;
    border: transparent;
    /* padding: 45px 50px; */
    background-color: #021523;
    box-shadow: 3px 3px 8px 8px rgba(128, 127, 127, 0.2);

    /* border: 2px solid red; */
    color: white;
    display: grid;
    gap: 25px;
    font-weight: lighter;
}
.front  {

   /* display: flex; */
   gap: 10px;
    align-items: center;
    /* border: 2px solid pink; */
    display: flex; 
}
.front img{
    border-radius: 50%;
}
.front h3{
    font-weight: lighter;
}
.front p{
    font-weight: lighter;
}
.back h3{
    
}
.back-end{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.border{
    
  /* margin: 20px; */
    padding: 20px;
    /* padding-bottom: -300px; */
    border: transparent;
}

#class{
    /* border: 4px solid red; */
    color: white;
    padding:  35px 40px;
    display: grid;
    gap: 20px;
    text-align: center;
    background-color: #021523;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 8px rgba(128, 127, 127, 0.2);
}
#class h4{
    font-weight: 350;
    font-size: 1.3em;
    margin-top: 30px;
}

#class p{
    /* font-size: 1.1em; */
    margin-bottom: 10px;

}
#class input{
    padding: 10px;
    
    border-radius: 25px;
    margin-bottom: 20px;
    /* color: black; */

}

#class button{
    padding: 10px 40px;
    font-size: 1.3em;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-weight: medium;
    background-color: lightseagreen;
    /* translate: translate(-50%); */
}

footer{
    background-color: #0c1524;
    /* border: 2px solid green; */
    color: rgb(255, 255, 255);
}
/* footer .icons{
 color: 3px solid purple;
} */
.something{
    /* border: 2px solid pink; */
    display: flex;
    padding-bottom: -90px;
    padding: 20px;
    gap: 20px;
    padding-bottom: 30px;
}
/* nav .place{
   pa
} */

.place li a{
    padding: 20px;
    
    display: grid;
    /* gap: 30px; */
    color: white;
    text-decoration: none;
    font-weight: medium;
    font-size: 1.5em;
}
.social-icons{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 80px;
    /* fill: wheat;  */
}
.icons{
    /* display: flex; */
 
    list-style-type: none;
    border-radius: 50%;
    padding: 9px;
    height: 30px;
    width: 30px;
    border: 2px solid rgb(255, 255, 255);
   /* grid-template-columns: repeat(3fr, 1); */
}

@media only screen and (min-width: 1200px)   {
    header{
        padding: 40px;
    }
    .phone{
        display: flex;
        gap: 50px;
        /* border: 3px solid black; */
        font-weight: medium;
        
    }
    .phone a{
        transition: .8s ease-in-out;
    }
    .phone a:hover{
        transform: scale(1.1);
        color: rgb(64, 73, 201);
    }
    .con{
        display: none;
    }
    .cont{
        justify-content: center;
        overflow-x: hidden;
        display: flex;
        /* border: 3px solid red; */
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        justify-content: center;
        padding: 10px 400px;
        color: white;
        gap: 30px;
        height: 100vh;                
    } 
    .cont h2{
        font-size: 2.1em;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .cont p{
    
    }
    .cont button{
        padding: 10px 40px;
        font-size: 1.3em;
        border-radius: 30px;
        color: white;
        font-weight: medium;
        background-color: lightseagreen;
        transition: .9s ease-in-out;
    }
    .cont button:hover{
        background-color: #002233;
    }
    .con{
        border: 5px solid green;
    }
    .wrapper{
        margin-top: 120px;
        gap: 60px;
        /* border: 3px solid pink; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .different{
        overflow-x: hidden;
        display: flex;
        /* border: 1px solid red; */
        margin: 90px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        justify-content: center;
        text-align: center;
        color: white;
        gap: 30px;
   
    }
    .differents{
        display: none;
    }
    .different1{
        
        overflow-x: hidden;
        /* display: flex; */
        /* border: 1px solid red; */
        margin: 90px;
        flex-direction: column;
        align-items: center;
        /* padding-bottom: 100px; */
    justify-content: center;
        text-align: center;
        color: white;
        gap: 30px;
       
    }
    .different1 h2{
        font-size: 2.1em;
        margin-bottom: 20px;
        /* text-align: center; */
        /* flex-direction: column; */
    }
    .different h2{
        font-size: 2.1em;
    margin-bottom: 20px;
    /* text-align: center;; */
    }
    .anchored{
        overflow-y: hidden;
        /* display: flex; */
        padding: 50px;
        /* align-items: center; */
       /* flex-direction: column; */
       /* border: 2px solid red; */
    /* justify-content: center;
        text-align: center; */
    }
    
    
    .different p{
    
    }
   .blant{
        /* border: 2px solid red; */
        display: flex;
        padding: 90px 20px;
   }
   .comment{
        padding: 70px 40px;
        /* border: 2px solid rgb(255, 255, 255); */
   }
   .border{
    
        /* border: 2px solid green; */
        padding: 20px 320px;
   }
     .null{
        gap: 10px;
        display: flex;
        /* border: 3px solid yellow; */
        margin-bottom: 20px;
     }
     .null :last-child{
        /* padding: 10px; */
        width: 50%;
        
        margin-bottom: 20px;
        color: rgb(255, 0, 0);
     }
     .null :first-child{
        /* padding: 10px; */
        width: 60%;
        
        margin-bottom: 20px;
        color: rgb(255, 0, 0);
     }
     footer{
        /* display: flex; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 80px;
        padding: 90px 40px;
     }
     .images{
        /* display: flex; */
        gap: 4px;
        padding-bottom: 30px;
        /* border: 3px solid black; */
        justify-content: center;
     }
     .place{
        /* border: 2px solid green; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
     }
     .place li a{
        transition: .9s ease-in-out;
     }
     .place li a:hover{
        color: rgb(0, 238, 255);
     }
}
    


  